/* === IMPORTANTE ===================================================
   No modificar estos estilos, ya que son imprescindibles para
   que la p�gina se vea correctamente.
   ================================================================== */

/*-- B�sico ----------------------------------------------------------*/
ul, ul li { margin: 0; padding: 0; list-style: none; }
h1, h2, h3, p, form { margin: 0; padding: 0; }
.clear { clear: both; }
img { border: none; }

/*-- Layout ----------------------------------------------------------*/
#contenedor {
  width: 90%;
  max-width: 900px;
  width: expression(document.body.clientWidth > 901? "900px": "auto");
  margin: 0 auto;
}

#cabecera, #menu, #lateral, #contenido, #contenido #principal, #contenido #secundario, #pie {
  /*border: 2px solid #777;*/
}

#cabecera { clear: both; }
#menu { clear: both; }
#lateral { float: left; width: 20%; }
#contenido { float: right; width: 78%; }
#contenido #principal { float: left; width: 72%; }
#contenido #secundario { float: right; width: 20%; }
#pie { clear: both; }

/*-- Cabecera --------------------------------------------------------*/
#cabecera #logo { float: left; }
#cabecera #buscador { float: right; }

/*-- Menu ------------------------------------------------------------*/
#menu ul#menu_principal li { display: inline; float: left; }

/*-- Secci�n Principal -----------------------------------------------*/
#contenido #principal .articulo img { width: 100px; float: left; }

/*-- Pie de p�gina ---------------------------------------------------*/
#pie .enlaces   { float: left; }
#pie .copyright { float: right; }

/* === IMPORTANTE ===================================================
   A partir de aqu�, se pueden a�adir todos los estilos propios que
   sean necesarios.
   ================================================================== */
.articulo {
   margin-bottom: 0.5em;
}
.articulo img {
 margin: 0.5em;
}
.articulo a {
  color: #CC6600
}
.articulo p {
  margin-top: 0.3em;
}
#publicidad {
   margin-top: 1em;
   border: 1px #CC6600 dotted;
   background-color: #FFF6CD;
   color: #555;
}
#publicidad a {
  color: #CC6600
}
#pie {
 padding: 0.5em 0;
 margin-top: 1em;
 border-top: 1px #C5C5C5 solid;
 border-bottom: 1px #C5C5C5 solid;
 background-color: #F8F8F8;
}
#noticias, #publicidad, #contenido #principal, #contenido #secundario {
 padding: 0.5em;
}
#principal {
 width: 95%;
}
#literal {
 padding: 0;
}

#cabecera, #menu, #lateral, #contenido, #contenido #principal, #contenido #secundario, #pie {
     border: none;
}

#menu {
  padding: 0.5em 0;
  border-bottom: 1px #004C99 solid;
  background: url("../img/fondo_menu.gif") repeat-x;
}
#menu a {
  color: white;
}
#menu li {
  margin: 0 0.5em;
}

#noticias {
  border: 1px #C5C5C5 solid;
  background-color: #F8F8F8;
}

#secundario {
  border: 1px #CC6600 solid;
}

#secundario h2 {
  background-color: #DB905C;
  color: white;
  font-size: 1em;
  padding: 0.2em;
}

#cabecera h1 {
  background: url("../img/logo.gif") no-repeat -5px -10px;
  margin-bottom: 1em;
}

#cabecera h1 span {
  visibility: hidden;
}

body {
  color: black;
  font-family: Arial sans-serif;
  font-size: 0.9em;
  line-height: 1.4em;
}
.articulo h2 {
  color: #CC6600;
  font-size: 1.6em;
  line-height: 1.2em;
  margin-bottom: 1.3em;
}
#lateral {
  font-size: 0.9em;
}
#lateral .fecha {
  display: block;
  color: #999;
}
#noticias h3 {
  color: #003366
}
